.cardBlock {
  position: absolute;
  left: -25px;
  top: -20px;
  width: 400px;
  height: 330px;
  border: 1px solid $light-grey;
  border-radius: 6px;
  background: #FCFCFC;
  box-shadow: 0px 0px 8px 1px rgba(195, 195, 195, 0.50);
  z-index: 1;
  overflow: hidden;
  display: none;

  &.is-active {
    display: block;
  }
  &.is-scroll {
    width: 420px;
    height: 362px;
    .cardBlock {
      &-footer {
        display: block;
      }
      &-counter {
        display: inline-block;
      }
      &-content {
        //padding: 41px 20px 55px 24px;
        padding: 41px 34px 55px 24px;
        height: 360px;
        width: 380px;
        overflow-y: auto;
        position: relative;

      }
    }
  }
  &-header {
    padding: 19px 14px 5px 24px;
    position: absolute;
    background: #FCFCFC;
    z-index: 1;
    right: 20px;
    top: 0;
    left: 0;
  }
  &-footer {
    display: none;
    padding: 10px 14px 14px 44px;
    position: absolute;
    background: #FCFCFC;
    z-index: 1;
    right: 20px;
    bottom: 0;
    left: 0;
  }
  &-counter {
    display: none;
    font-size: 14px;
    font-weight: 200;
    float: right;
    line-height: 24px;
  }
  &-content {
    padding: 41px 24px 0;
    max-height: 100%;
    overflow-y: auto;
    height: 100%;
  }

  .card {
    padding-right: 35px;
    margin-bottom: 13px;
    cursor: pointer;
    &.is-active {
      &:before {
        margin-top: 0;
      }
      .card {
        &-name {
          font-size: 18px;
          font-weight: 400;
        }
        &-desc {
          font-size: 14px;
        }
        &-amount {
          font-size: 20px;
          font-weight: 400;
        }
        &-check {
          top: 13px;
          opacity: 1 !important;
          background-image: url('../images/check--green.svg');
        }
      }
    }
    &:hover {
      .card {

        &-check {
          opacity: .4;
        }
      }
    }
    &:before {
      margin-top: -4px;
    }
    &-data {
      max-width: 160px;
    }
    &-name {
      font-size: 16px;
      font-weight: 300;
    }
    &-desc {
      font-size: 13px;
    }
    &-amount {
      font-size: 19px;
      font-weight: 300;
    }
    .rubl {
      display: inline-block;
      width: 13px;
      text-align: right;
    }
  }
}

//.cardBlock {
//  position: absolute;
//  left: -25px;
//  top: -20px;
//  width: 400px;
//  height: 330px;
//  border: 1px solid $light-grey;
//  border-radius: 6px;
//  background: #FCFCFC;
//  box-shadow: 0px 0px 8px 1px rgba(195, 195, 195, 0.50);
//  z-index: 1;
//  overflow: hidden;
//  display: none;
//
//  &.is-active {
//    display: block;
//  }
//  &.is-scroll {
//    width: 420px;
//    height: 360px;
//    .cardBlock {
//      &-footer {
//        display: block;
//      }
//      &-counter {
//        display: inline-block;
//      }
//      &-content{
//        padding: 41px 20px 155px 24px;
//      }
//    }
//  }
//  &-header {
//    padding: 19px 14px 5px 24px;
//    position: absolute;
//    background: #FCFCFC;
//    z-index: 1;
//    right: 20px;
//    top: 0;
//    left: 0;
//  }
//  &-footer {
//    display: none;
//    padding: 10px 14px 14px 44px;
//    position: absolute;
//    background: #FCFCFC;
//    z-index: 1;
//    right: 20px;
//    bottom: 0;
//    left: 0;
//  }
//  &-counter {
//    display: none;
//    font-size: 14px;
//    font-weight: 200;
//    float: right;
//    line-height: 24px;
//  }
//  &-content {
//    padding: 41px 24px 0;
//    height: 260px;
//    width: 394px;
//    overflow-y: auto;
//    position: relative;
//  }
//
//
//  .card {
//    padding-right: 35px;
//    margin-bottom: 13px;
//    cursor: pointer;
//    &.is-active {
//      &:before {
//        margin-top: 0;
//      }
//      .card {
//        &-name {
//          font-size: 18px;
//          font-weight: 400;
//        }
//        &-desc {
//          font-size: 14px;
//        }
//        &-amount {
//          font-size: 20px;
//          font-weight: 400;
//        }
//        &-check {
//          top: 13px;
//          opacity: 1 !important;
//          background-image: url('../images/check--green.svg');
//        }
//      }
//    }
//    &:hover {
//      .card {
//
//        &-check {
//          opacity: .4;
//        }
//      }
//    }
//    &:before {
//      margin-top: -4px;
//    }
//    &-data {
//      max-width: 160px;
//    }
//    &-name {
//      font-size: 16px;
//      font-weight: 300;
//    }
//    &-desc {
//      font-size: 13px;
//    }
//    &-amount {
//      font-size: 19px;
//      font-weight: 300;
//    }
//    .rubl {
//      display: inline-block;
//      width: 13px;
//      text-align: right;
//    }
//  }
//}
