.card {
  padding: 3px 0 0 20px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 3px;
    top: 13px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    background: #000;
  }
  &--green {
    &:before {
      background-color: $green;
    }
  }
  &--yellow {
    &:before {
      background-color: #FFEF02;
    }
  }
  &-data {
    display: inline-block;
    float: left;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-amount {
    display: inline-block;
    float: right;
    font-size: 22px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    sub {
      bottom: 0;
    }
  }
  &-name {
    font-size: 18px;
    font-weight: 400;
  }
  &-change {
    color: $light-blue;
    font-size: 13px;
    margin-left: 8px;
  }
  &-desc {
    font-size: 14px;
  }
  &-check {
    display: block;
    width: 16px;
    height: 12px;
    position: absolute;
    right: 0;
    background-image: url('../images/check.svg');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .2;
    top: 10px;
  }
}