.cardSearch {
  position: relative;
  &.is-focus {
    .cardSearch {
      &-input {
        border-color: $light-blue;
      }
      &-clear {
        opacity: .8;
      }
    }
  }
  &-input {
    border: 1px solid $light-grey;
    border-radius: 4px;
    height: 31px;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    padding: 0 30px;
    transition: all .4s ease;
    &:hover {
      //border-color: #444;
    }
  }
  &-icon {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: url("../images/search.svg") no-repeat;
    background-size: 100% 100%;
    margin-top: -1px;
  }
  &-clear {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
    background: url("../images/clear.svg") no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: all .4s ease;
    opacity: .6;
    &:hover {
      opacity: 1 !important;
    }
    &:before {
      content: '';
      position: absolute;
      left: -5px;
      right: -5px;
      bottom: -5px;
      top: -5px;
    }
  }
}