.checkbox{

  &-input{
    display: none;
    &:checked + .checkbox-label:before{
      background-color: $light-blue;
    } 
  }
  &-label{
    position: relative;
    font-weight: 300 !important;
    display: inline-block;
    margin-bottom: 7px;
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background-color: $light-grey;
      background-image: url('../images/check--white.svg');
      background-position: center center;
      background-repeat: no-repeat;
      margin: 3px 0 0 -40px;
      transition: all .4s ease;
    }
  }

}