.field {
  position: relative;
  &-input {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid $light-grey;
    width: 100%;
    padding: 5px 0 1px;
    margin-right: 15px;
    transition: all .4s ease;
    padding-right: 130px;
    &--strong{
      font-weight: 400;
    }
    &:hover,
    &:focus {
      border-bottom-color: #444;
    }
  }
  &-textarea {
    font-size: 18px;
    border: 1px solid $light-grey;
    border-radius: 8px;
    padding: 10px;
    transition: border .4s ease;
    margin: 15px 0 0;
    width: 100%;
    height: 88px;
    resize: vertical;
    &:hover,
    &:focus {
      border-color: #444;
    }
  }

  &-choose {
    color: $light-blue;
    font-size: 13px;
    position: absolute;
    right: 0px;
    bottom: 2px;
    text-decoration: none;
  }
  &-currency {
    position: absolute;
    top: -20px;
    right: 0px;
    &Item {
      font-size: 13px;
      color: #D6D6D6;
      display: inline-block;
      list-style: none;
      margin-left: 5px;
      cursor: pointer;
      transition: all .4s ease;
      &:hover {
        text-decoration: underline;
        color: #777;
      }
      &.is-active {
        pointer-events: none;
        text-decoration: underline;
        color: $light-blue;
      }
    }
  }

  &-amountDesc {
    font-size: 13px;
    font-weight: 200;
    margin-top: 15px;
    max-width: 460px;
    display: inline-block;
    &--right {
      float: right;
      margin-right: 0px;
    }
    sub{
      bottom: 0;
    }
    strong {
      font-weight: 300;
    }
  }
}