.form {
  float: right;
  width: 570px;
  &-header {
    border-bottom: 1px solid $light-grey;
    padding-bottom: 2px;
    &Title {
      font-size: 17px;
      font-weight: 200;
      line-height: 29px;
    }
  }
  &-section {
    margin: 30px 0;
    position: relative;
    &--card {
      margin: 25px 0 35px;
    }
    &--amount {
      margin-top: 50px;
      margin-bottom: 43px;
      .field-input {
        font-size: 28px;
        font-weight: 400;
      }
    }
    &--checkbox {
      padding: 0 0 0 40px;
      margin: 38px 0px 40px;
    }
  }
  &-label {
    font-weight: 200;
    font-size: 16px;
    sup {
      color: $green;
    }
  }
  &-button {
    float: right;
    background: $light-blue;
    border-radius: 7px;
    color: #fff;
    line-height: 40px;
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0 0 0;
    padding: 0 18px;
    cursor: pointer;
    transition: all .4s ease;
    border: none;
    &:hover{
      opacity: .8;
    }
  }
  &-radios {
    padding: 10px 28px;
  }

}