.header {

  padding: 65px 5px 35px 0;
  &-data {
    display: inline-block;
  }
  &-logo {
    float: right;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 0px rgba(120, 120, 120, 0.50);
  }
}