.navigation {
  border-top: 1px solid $light-grey;
  margin: 0 -30px;
  padding: 30px 0;
  &-list {
    font-size: 0;
    text-align: center;
  }
  &-item {
    display: inline-block;
    list-style: none;
    margin-right: 72px;
    &.is-active {
      pointer-events: none;
      .navigation-link {
        font-weight: 400;
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  &-link {
    font-size: 17px;
    color: #000;
    text-decoration: none;
  }
}