.overlay {
  width: 1000px;
  margin: 0 auto;
  padding: 0 65px 235px;
  position: relative;
  min-height: 100%;
  &:before{
    position: absolute;
    bottom: 0;
    left: 35px;
    right: 30px;
    height: 20px;
    background: $light-blue;
    content: "";
    display: block;
  }
}
