.person{
  position: relative;
  padding-left: 130px;
  &-media{
    border: 1px solid $light-grey;
    border-radius: 50%;
    overflow: hidden;
    width: 103px;
    height: 103px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &-name{
    font-size: 19px;
  }
  &-link{
    color: $green;
    font-size: 15px;
  }
}