.radio {
  display: block;
  &-input {
    display: none;
    &:checked + .radio-label:before {
      border-color: $light-blue;
      box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px $light-blue;
    }
  }
  &-label {
    position: relative;
    font-weight: 300 !important;
    display: inline-block;
    margin-bottom: 7px;
    font-size: 15px;
    &:before {
      transition: border .4s ease;
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid $light-grey;
      margin: 5px 0 0 -28px;
    }
  }
}