.scrollPane {
  .jspVerticalBar {
    right: 20px;
  }
  .jspDrag {
    width: 6px;
    left: 50%;
    margin-left: -3px;
    background: transparent !important;
    &:before {
      content: '';
      position: absolute;
      left: -3px;
      right: -3px;
      display: block;
      top: -3px;
      bottom: -3px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      bottom: 5px;
      right: 0;
      left: 0;
      transition: background .4s ease;
      border-radius: 2px;
      background: #E8E8E8;
    }
    &:hover:after {
      background: #919191;
    }
  }
  .jspActive:after {
    background: #919191;
  }
  .jspTrack {
    background: #FCFCFC;
    width: 16px;
    box-shadow: -1px 0px 0px 0px rgba(227, 227, 227, 0.4);
  }
}