.sidebar {
  float: left;
  width: 200px;
  padding: 0 5px;
  &-title {
    display: block;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 42px;
  }
  &-list {
  }
  &-item {
    list-style: none;
    display: block;
    margin-bottom: 8px;
    &.is-active {
      pointer-events: none;
      .sidebar-link {
        font-weight: 400;
      }
    }
  }
  &-link {
    font-size: 14px;
    line-height: 130%;
    text-decoration: none;
    color: #000;
    &:hover{
      text-decoration: underline;
    }
  }
}