@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto-Light_gdi.eot');
	src: url('../fonts/Roboto-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Light_gdi.woff') format('woff'),
		url('../fonts/Roboto-Light_gdi.ttf') format('truetype'),
		url('../fonts/Roboto-Light_gdi.svg#Roboto-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2260;
}

@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto-Regular_gdi.eot');
	src: url('../fonts/Roboto-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular_gdi.woff') format('woff'),
		url('../fonts/Roboto-Regular_gdi.ttf') format('truetype'),
		url('../fonts/Roboto-Regular_gdi.svg#Roboto-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2260;
}

@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto-Medium_gdi.eot');
	src: url('../fonts/Roboto-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Medium_gdi.woff') format('woff'),
		url('../fonts/Roboto-Medium_gdi.ttf') format('truetype'),
		url('../fonts/Roboto-Medium_gdi.svg#Roboto-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2260;
}

@font-face {
	font-family:'Roboto';
	src: url('../fonts/Roboto-Thin_gdi.eot');
	src: url('../fonts/Roboto-Thin_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Thin_gdi.woff') format('woff'),
		url('../fonts/Roboto-Thin_gdi.ttf') format('truetype'),
		url('../fonts/Roboto-Thin_gdi.svg#Roboto-Thin') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-2260;
}
